<p>componente6 works!</p>
<div style="background-color: rgb(69, 187, 34);"> 
<button (click)="navegacion()">PaginaPrincipal</button> 
        <button (click)="navegacion2()">Hobes</button>
        <button (click)="navegacion1()"> Gustos Musicales</button>
        <button (click)="navegacion3()">PaginaPrincipal</button>
        <button (click)="navegacion5()">ENVIAR</button> 
        <br>
        <br>
        <h2>GRACIAS POR REGISTRARSE EN ESTA PLATAFORMA</h2>
        <br>
        <br>
        <img src="https://media.tenor.com/KtKkY0jznH4AAAAd/bbbbbbuenas-gaspi.gif" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Bbbbbbuenas Gaspi GIF - Bbbbbbuenas Gaspi - Discover &amp; Share GIFs" data-noaft="1" style="width: 415px; height: 233.438px; margin: 0px;">
        <br>
        <br>
</div>