<body style="background-color: rgb(85, 204, 85);">
    <div style="text-align: center;">
        <h1 >Parcial 2 Actividad en clase</h1> 
        <p > Josue Saenz 3E2</p>
        <button (click)="navegacion()">PaginaPrincipal</button> 
        <button (click)="navegacion2()">Hobes</button>
        <button (click)="navegacion1()"> Gustos Musicales</button>
        <button (click)="navegacion4()"> Pagina Interactiva</button>
        <br>
    </div>
    <div style="background-color: rgb(49, 99, 180);"> 
    <p> Han pasado seis años desde la catástrofe biológica de Raccoon City.

        Leon S. Kennedy, uno de los supervivientes, ha sido asignado como agente especial del gobierno al presidente de los Estados Unidos.
        
        Con la experiencia de múltiples misiones a sus espaldas,
        Leon es enviado a rescatar a la hija del presidente, la cual ha sido secuestrada.
        
        Sus pesquisas le llevan a un aislado pueblo europeo,
        en donde algo muy extraño está pasando con sus habitantes...
        
        El telón se alza desvelando una cruenta experiencia de Survival Horror y la historia de un angustioso rescate.</p>
    <br>
    <iframe width="885" height="498" src="https://www.youtube.com/embed/O75Ip4o1bs8" title="Resident Evil 4 - Tráiler PS5 con subtítulos en ESPAÑOL | 4K |  PlayStation España" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <p> La franquicia de Resident Evil 4 es una de los juegos que a mi parecer mas me gustan, debido a que gracias a estos aprendi muchas cosas como el ingles. Este juego me ayudo mucho a saber tomar muy buenbas decisiones en mi vida, por ejemplo mi amor B.A.A.F</p>
    <p>Un clásico de clásicos, aunque <strong>no el primero en incluir zombies</strong> entre sus filas de enemigos, este honor se lo lleva Evil Dead aparecido para Commodore 64 y Spectrum pero vamos a dejar este título de momento para un futuro meripodcast retro.</p>
    <p><a href="http://meristation.as.com/noticias/autopsia-resident-evil/2178599" target="_blank">La saga Resident Evil</a> <strong> ha tenido sus más y sus menos</strong> desde hace unos años y uno de los principales motivos de disputa es la ausencia gradual con cada uno de sus lanzamientos de su principal protagonista, los zombis.</p>
    <p><strong>Los no-muertos nos suponían la puerta</strong> de entrada a la mansión de los horrores, unos anfitriones del terror perfectos que con su buen saber hacer transmitían la atmósfera que los títulos buscaban y los fans demandaban. Aunque luego nos encontrásemos con otro tipo de mutaciones, como los hunters o licker más ágiles y con patrones algo más impredecibles, <strong>los zombies hacían las veces de piedra de rosetta</strong> con el diseño de los enfrentamientos que nos había preparado Mikami, enseñándonos a prestar atención al sonido, evitar enfrentamientos en espacios estrechos y no desperdiciar munición. Aunque posteriormente toda esta tensión desaparecería con la moda de los infectados, espacios más abiertos y cámara sobre el hombro.</p>

</div>
</body>