<body style="background-color: rgb(85, 204, 85);">
    <div style="text-align: center;">
        <h1 >Parcial 2 Actividad en clase</h1> 
        <p > Josue Saenz 3E2</p>
        <button (click)="navegacion1()">Gustos Musicales</button> 
        <button (click)="navegacion()">Pagina Principal</button>
        <button (click)="navegacion3()"> Gustos De Videojuegos</button>
        <br>
    </div>
    <div style="background-color: rgb(49, 99, 180);"> 
    <p> Es mi deporte favorito porque aprendes a trabajar en equipo y porque es muy competitivo. El objetivo es hacer rodar un balón esférico con el fin de anotar un punto, cuya anotación es válida al cruzar la línea límite del arco contrario.</p>
    <br>
    <iframe width="885" height="498" src="https://www.youtube.com/embed/GnK1LfOU3eE" title="Manchester City 4-3 Tottenham | RESUMEN | Cuartos de final (VUELTA) | UEFA Champions League" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <p> El futbol es un deporte el cual me gusta demasiado devido a que lleva mucha energia en si y produce sencaciones de adrenalina, el ver campeon a tu euipo es algo epicoo</p>
    <br>
</div>
</body>