<body style="background-color: rgb(85, 204, 85);">
    <div style="text-align: center;">
        <h1 >Parcial 2 Actividad en clase</h1> 
        <p > Josue Saenz 3E2</p>
        <button (click)="navegacion()">Pagina Principal</button> 
        <button (click)="navegacion2()">Hobes</button>
        <button (click)="navegacion3()"> Gustos De Videojuegos</button>
        <br>
    </div>
    <div style="background-color: rgb(49, 99, 180);"> 
    <p> La electrónica es un género musical que abarca un amplio abanico de formas de música electrónica contemporánea. Se puede usar para diversas funciones, incluyendo simplemente escuchar música, para bailar, como música del fondo, etc.</p>
    <br>
    
    <iframe width="885" height="498" src="https://www.youtube.com/embed/4AJET1_pFtE" title="Savant - Alchemist -  Pirate Bay" frameborder="50" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> La electrónica es un género musical que me agrada ya que es musica que llevo escuchando desde hace mucho tiempo.</p>
    <p> En si Gracias a esta musica no solo eh conquistado, sino que tambien me ah ayudado a relajarme en momentos de estres y en los que siento que el mundo se me viene abajo</p>
    <br>
    <iframe width="885" height="498" src="https://www.youtube.com/embed/FLTchCiC0T0?list=RDGMEMJQXQAmqrnmK1SEjY_rKBGAVMFLTchCiC0T0" title="Seek & Destroy (Remastered)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> ¿Qué es el rock?</p>
    <p> El rock ha sido un estilo musical que se ha relacionado con la poesía de forma muy estrecha. Y es que, además de sus composiciones rítmicas, el rock no puede entenderse sin una elevada calidad en sus letras. Esto también ha sido estudiado a fondo, y tiene un gran valor para los amantes del género.</p>
    <p> ¿Porque me gusta el rock?</p>
    <p> El rock ha sido un estilo musical que se ha relacionado con mi vida en general. siendo que es algo que me ah motivado muchas veces y recomendaria que escuchen este tipo de musica</p>
</div>
</body>
